<a href="https://colab.research.google.com/github/dasdasqs2/kaggle/blob/master/titanic_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#< DataCamp tutorial >  
##타이타닉 승객 데이터 분석

In [0]:
import pandas as pd #as pd로 pandas를 다 안써도 됨

train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)
 
test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

In [4]:
train.describe() #수치 데이터를 요약해서 보여줌.

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [6]:
train.shape #해당 데이터셋의 행,열이 몇 개인지 알려줌.

(891, 12)

In [8]:
 train["Survived"].value_counts()
 #value_counts() : 절댓값 리턴
 #Survived = 0 : 살았다 / Survived = 1 : 죽었다

0    549
1    342
Name: Survived, dtype: int64

In [9]:
train["Survived"].value_counts(normalize=True) #normalize=True : (%)값으로 리턴

0    0.616162
1    0.383838
Name: Survived, dtype: float64

##*성별에 따라 생존율 비교

In [10]:
train['Survived'][train['Sex'] == 'male'].value_counts(normalize=True) #[train['Sex'] == 'male']

0    0.811092
1    0.188908
Name: Survived, dtype: float64

In [37]:
train['Survived'][train['Sex'] == 'female'].value_counts(normalize=True)

1    0.742038
0    0.257962
Name: Survived, dtype: float64

남자 : 19(%) / 여자 : 74(%)  
모두 죽는다 < 남자는 무조건 죽고, 여자는 무조건 산다

##*나이에 따라 생존율 비교

In [0]:
train['Child'] = float('NaN') #'Child'열 생성

In [42]:
train['Survived'][train['Child'] == 1].value_counts(normalize = True)

Series([], Name: Survived, dtype: float64)

In [40]:
train['Survived'][train['Child'] == 0].value_counts(normalize = True)

Series([], Name: Survived, dtype: float64)